:root {
  --ashgray: #cad2c5;
  --darkSeaGreen: #84a98c;
  --hookersGreen: #52796f;
  --darkSlateGray: #354f52;
  --charcoal: #2f3346;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    min-height: 100vh;
    background-color: var(--charcoal);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/*
==========================================================
        Top Header
==========================================================
*/
.logo {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  user-select: none;
} 

/*
==========================================================
        Top Nav
==========================================================
*/

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: white;
}

.nav-links a {
  color: white;
}

.menu {
  display: flex;
  gap: 1rem;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.menu li {
  padding: 5px 14px;
}

/* Drop Down Menu*/

.portfolio {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /* respects parent position*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.portfolio:hover .dropdown {
  display: block;
}

input[type=checkbox] {
  display: none;            /* Removing Checkbox */
}

/* hamburger menu */

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;   /* resricts ability to copy text/hambuger lines*/
}

/*
===============================================================
    .Intro
===============================================================
*/

/*
===============================================================
    About-Me-Section
===============================================================
*/
.aboutme-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    border: 0;
    width: 100%;
}
.aboutme-content {
    display: flex;
    justify-content: space-evenly;
}

.my-picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 0;

}

.aboutme-intro { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 50px;
  align-items: baseline;
  word-wrap: nowrap;
  grid-column: 2 / 2;
}

.my-picture img {
    height: 500px;
    width: 400px;
    border: 1px solid #488286;
    border-radius: 30px;
    box-shadow: 2px 5px 15px 8px #488286;
}



/* Start of Animaton for aboutme-intro */

.animate-text {
  text-transform: uppercase;
  background-image: linear-gradient(
      255deg,
      var(--ashgray) 0%,
      var(--darkSeaGreen) 29%,
      var(--hookersGreen) 67%,
      var(--darkSlateGray) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;          /* Wraps the color from gradient */
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
  flex-wrap: nowrap;
  font-size: 3rem;
}

@keyframes textclip {
  to {
      background-position: 200% center;
  }
}

/* End of Animaton for aboutme-intro */

/* 
==============================================
    About Me loaders and Text container
==============================================
*/
.aboutme-text {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1000px;
    min-width: 0px;
    padding: 3rem;
    margin: 3rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #488286, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
    align-items: center;
}

/* Created 4 equal columns*/
.column {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

#loader1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-text h2 {
    font-size: 3rem;
}

.aboutme-text p {
    font-size: 1.3rem;
    line-height: 1.3;
}


/* 
==================================================
    Loader-element 
==================================================
*/

.loader {
    width: 50px; /* control the size */
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 22deg, #0003,#000);
            mask: conic-gradient(from 22deg, #0003,#000);
    animation: load 1s steps(8) infinite;
  }
  .loader,
  .loader:before {
    --_g: linear-gradient(#4c9e9e 0 0) 50%; /* update the color here */
    background: 
      var(--_g)/34% 8%  space no-repeat,
      var(--_g)/8%  34% no-repeat space;
  }
  .loader:before {
    content: "";
    transform: rotate(45deg);
  }
  @keyframes load {
    from {transform: rotate(0turn)}
    to   {transform: rotate(1turn)}
  }


/*
=======================================================
    Portfolio Section
=======================================================
*/

.portfolio-container {
  border: 1px solid red;
  height: 50vh;
  width: 100%;
}










/*
=======================================================
Contact Form
=======================================================
*/

.contact-section {
    background: #373e40;
    margin: 0;
    border: 0;
    padding: 10px;
}

.contact-section h1 {
    text-align: center;
    color: #ddd;
}

.contact-section p {
    text-align: center;
    color: #ddd;
    text-size-adjust: 2rem;
}

.contact-border {
    width: 300px;
    height: 5px;
    background-color: white;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: #305252;
    padding: 20px 40px;
    outline: none;
    color: #b7d5d4;
    transition: 0.5s;
}

/* Create focus effect */

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px rgb(162, 160, 160);
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #305252;
    color: rgba(148, 133, 133, 0.904);
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: rgba(16, 17, 17, 0.384);
}

/*
=================================================
        Footer
=================================================
*/

.footer-container {
    background: #305252;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.footer-content {
    font-size: 15px;
    color: #b7d5d4;
    width: 100%;
    text-align: center;
}

/* Spinner Element */
.spinner-logo {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.spinner-logo::before,
.spinner-logo::after {    
  content:"";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.spinner-logo::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2{ 
  100%{transform: rotate(.5turn)}
}


/* 
==========================================
    Media Queries
==========================================
*/


@media (max-width: 800px) {
        /* Start of Hamburger */
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left:  0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition:  0.3s ease-in-out;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu  { /* using a adjacent selector */
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
        /* End of hamburger */

  .my-picture {
    display: flex;
    flex-direction: column;
  }
 
  .aboutme-text {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 500px) {
  .my-picture {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0;
  }

  .my-picture > img {
    width: 250px;
    height: 300px;
  }

  .aboutme-intro {
    border: 1px solid red;
    padding: 0;
  }

  .aboutme-intro > h1 {
    font-size: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

}