@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Splash&display=swap');


:root {
  --ashgray: #cad2c5;
  --darkSeaGreen: #84a98c;
  --hookersGreen: #52796f;
  --darkSlateGray: #354f52;
  --charcoal: #2f3346;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    min-height: 100vh;
    background-color: var(--charcoal);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/*
==========================================================
        Top Header
==========================================================
*/

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  

}

.logo {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  
}

.logo-container p {
  font-size: 40px;
}

/*
==========================================================
        Top Nav
==========================================================
*/

/* Start of Hamburger */
.menu {
  display: none;
  position: absolute;
  background-color: teal;
  right: 0;
  left:  0;
  text-align: center;
  padding: 16px 0;
  gap: 1rem;
  font-size: 18px;
}

.menu a {
  font-size: 24px;
  color: white;
}

.menu li {
  padding: 5px 14px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

input[type=checkbox]:checked ~ .menu  { /* using a adjacent selector */
  display: block;
}

.hamburger {
  display: block;
}

.dropdown {
  left: 50%;
  top: 30px;
  transform: translateX(35%);
}

.dropdown li {
  font-size: 20px;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

input[type=checkbox] {
  display: none;        
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: white;
}
/* End of hamburger */

/* Drop Down Menu*/

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /* respects parent position*/
  display: none;
  border-radius: 8px;
  top: 35px;
}



/*
===============================================================
    Back to Top Btn
===============================================================
*/
#top-btn {
  /*display: none;*/
  position: fixed;
  bottom: 25px;
  right: 35px;
  z-index: 1000;
  border: .5px solid white;
  outline: none;
  background-color: var(--darkSlateGray);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#top-btn:hover {
  background-color: #555;
  transition: 0.5s ease-in-out;
}
/*
===============================================================
    About-Me-Section
===============================================================
*/
.aboutme-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    border: 0;
    width: 100%;
}

.my-picture {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.aboutme-intro { 
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
  grid-column: 2 / 2;

}

.my-picture img {
    width: 250px;
    height: 300px;
    border: 1px solid #488286;
    border-radius: 30px;
    box-shadow: 2px 5px 15px 8px #488286;
}

.aboutme-name {
  display: flex;
  width: 100%;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: white;
  justify-content: center;
  align-items: center;
}

/* Start of Animaton for aboutme-intro */

.animate-text {
  text-transform: uppercase;
  background-image: linear-gradient(
      255deg,
      var(--ashgray) 0%,
      var(--darkSeaGreen) 29%,
      var(--hookersGreen) 67%,
      var(--darkSlateGray) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;          /* Wraps the color from gradient */
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
  flex-wrap: nowrap;
  font-size: 3rem;
  text-align: center;
}

@keyframes textclip {
  to {
      background-position: 200% center;
  }
}

/* End of Animaton for aboutme-intro */

/* 
==============================================
    About Me loaders and Text container
==============================================
*/
.aboutme-text {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
    margin: 1rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #488286, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
    align-items: center;
}

.column {
  padding: 50px;
  justify-content: center;
  align-items: center;
}

#loader2,
#loader1 {
  display: none;
}

.aboutme-text h2 {
  font-family: 'Dancing Script', 'Times New Roman', Times, serif;
  text-align: center;
  letter-spacing: 4px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.aboutme-text p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.9rem;
}


/* 
==================================================
    Loader-element 
==================================================
*/

.loader {
    width: 50px; /* control the size */
    aspect-ratio: 3;
    display: grid;
    -webkit-mask: conic-gradient(from 22deg, #0003,#000);
            mask: conic-gradient(from 22deg, #0003,#000);
    animation: load 1s steps(8) infinite;
  }
  .loader,
  .loader:before {
    --_g: linear-gradient(#4c9e9e 0 0) 50%; /* update the color here */
    background: 
      var(--_g)/34% 8%  space no-repeat,
      var(--_g)/8%  34% no-repeat space;
  }
  .loader:before {
    content: "";
    transform: rotate(45deg);
  }
  @keyframes load {
    from {transform: rotate(0turn)}
    to   {transform: rotate(1turn)}
  }

/*
=======================================================
    Portfolio Section
=======================================================
*/

.portfolio {
  position: relative;
}

.portfolio:hover .dropdown {
  display: block;
}

.portfolio-container {
  margin: 0;
	color: #fff;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	height: 70vh;
}

.project-slider {
	width: 100%;
}

.project-slider input {
	display: none;
}

.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 350px;
	perspective: 1000px;
	overflow: hidden;
}

.projects .project-card {
	top: 0;
	position: absolute;
	box-sizing: border-box;
	background-color: var(--hookersGreen);
	padding: 30px;
	width: 450px;
  height: 320px;
	text-align: center;
	transition: transform 0.4s;
	
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}

.projects .project-card img {
	width: 200px;
  height: 150px;
	border-radius: 50%;
	border: 2px solid var(--ashgray);
}

.projects .project-card p {
	color: #ddd;
  font-size: 1rem;
}
.projects .project-card h2 {
	font-size: 24px;
}
.project-dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.project-dots label {
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition: transform 0.2s, color 0.2s;
}

/*
=======================================================================================
    start project sliders
=======================================================================================
*/

/* First */
#pc-1:checked ~ .project-dots label[for="pc-1"] {
	transform: scale(2);
	background-color: white;
}
#pc-1:checked ~ .project-dots label[for="pc-2"] {
	transform: scale(1.5);
}
#pc-1:checked ~ .projects label[for="pc-1"] {
	z-index: 4;
}
#pc-1:checked ~ .projects label[for="pc-2"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 3;
}
#pc-1:checked ~ .projects label[for="pc-3"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 2;
}
#pc-1:checked ~ .projects label[for="pc-4"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
	z-index: 1;
}
#pc-1:checked ~ .projects label[for="pc-5"] {
	transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

/* Second */
#pc-2:checked ~ .project-dots label[for="pc-1"] {
	transform: scale(1.5);
}
#pc-2:checked ~ .project-dots label[for="pc-2"] {
	transform: scale(2);
	background-color: #fff;
}
#pc-2:checked ~ .project-dots label[for="pc-3"] {
	transform: scale(1.5);
}
#pc-2:checked ~ .projects label[for="pc-1"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#pc-2:checked ~ .projects label[for="pc-2"] {
	z-index: 3;
}
#pc-2:checked ~ .projects label[for="pc-3"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#pc-2:checked ~ .projects label[for="pc-4"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 1;
}
#pc-2:checked ~ .projects label[for="pc-5"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

/* Third */
#pc-3:checked ~ .project-dots label[for="pc-2"] {
	transform: scale(1.5);
}
#pc-3:checked ~ .project-dots label[for="pc-3"] {
	transform: scale(2);
	background-color: #fff;
}
#pc-3:checked ~ .project-dots label[for="pc-4"] {
	transform: scale(1.5);
}
#pc-3:checked ~ .projects label[for="pc-1"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#pc-3:checked ~ .projects label[for="pc-2"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#pc-3:checked ~ .projects label[for="pc-3"] {
	z-index: 3;
}
#pc-3:checked ~ .projects label[for="pc-4"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#pc-3:checked ~ .projects label[for="pc-5"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

/* Fourth */
#pc-4:checked ~ .project-dots label[for="pc-3"] {
	transform: scale(1.5);
}
#pc-4:checked ~ .project-dots label[for="pc-4"] {
	transform: scale(2);
	background-color: #fff;
}
#pc-4:checked ~ .project-dots label[for="pc-5"] {
	transform: scale(1.5);
}
#pc-4:checked ~ .projects label[for="pc-1"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#pc-4:checked ~ .projects label[for="pc-2"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#pc-4:checked ~ .projects label[for="pc-3"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 2;
}
#pc-4:checked ~ .projects label[for="pc-4"] {
	z-index: 3;
}
#pc-4:checked ~ .projects label[for="pc-5"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

/* Fifth */
#pc-5:checked ~ .project-dots label[for="pc-4"] {
	transform: scale(1.5);
}
#pc-5:checked ~ .project-dots label[for="pc-5"] {
	transform: scale(2);
	background-color: #fff;
}
#pc-5:checked ~ .projects label[for="pc-1"] {
	transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#pc-5:checked ~ .projects label[for="pc-2"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
	z-index: 1;
}
#pc-5:checked ~ .projects label[for="pc-3"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
	z-index: 2;
}
#pc-5:checked ~ .projects label[for="pc-4"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 3;
}
#pc-5:checked ~ .projects label[for="pc-5"] {
	z-index: 4;
}

/*
======================================================
    end portfolio sliders
=======================================================
*/
/*
=======================================================
    Start of Work History
=======================================================
*/

.resume-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
}

.resume-grid {
  background-color: var(--ashgray);
  width: 95%;
  border-radius: 30px;
  box-shadow: -36px 46px 6px 3px rgba(1, 5, 19, 0.4);
}

.resume-grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.3rem;
  text-align: center;
}

.resume-grid > div > h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.resume-grid > div > p {
  font-size: 1.3rem;
  text-align: center;
}

.resume-header > div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.resume-holder-set-1 > p,
.resume-holder-set-2 > p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-holder-set-1, 
.resume-holder-set-2 {
  padding: 10px;
}

.resume-skills {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 50px;
}

/* Spinner Element */
.spinner-logo {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.spinner-logo::before,
.spinner-logo::after {    
  content:"";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.spinner-logo::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2{ 
  100%{transform: rotate(.5turn)}
}

/*
=======================================================
    End of Work History
=======================================================
*/
/*
=======================================================
Contact Form
=======================================================
*/

.contact-container {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 3rem;
  height: 90vh;
  width: 100%;
}

.contact-section {
    background: var(--charcoal);
    margin: 0;
    border: 20px;
    padding: 10px;
}

.contact-section h1 {
    text-align: center;
    color: #ddd;
}

.contact-section p {
    text-align: center;
    color: #ddd;
    text-size-adjust: 2rem;
}

.contact-border {
    width: 300px;
    height: 5px;
    background-color: white;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: #305252;
    padding: 20px 40px;
    outline: none;
    color: #b7d5d4;
    transition: 0.5s;
}

/* Create focus effect */

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px rgb(162, 160, 160);
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #305252;
    color: rgba(148, 133, 133, 0.904);
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: rgba(16, 17, 17, 0.384);
}

/*
=================================================
        Footer
=================================================
*/

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.footer-content p {
  font-size: 1em;
  color: white;
}

.footer-container {
    background: #305252;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin-top: 20px;
}

/* Social Media Imgs */
.social {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 40px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.9) translateY(-25px);
}

.social li img {
  width: 50px;
}

/* 
==========================================
    Media Queries
==========================================
*/
@media (min-width: 650px) {
  
  /* hamburger menu */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;   /* restricts ability to copy text/hamburger lines*/
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;

  }

  p {
    font-size: large;
  }

  .logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .my-picture {
    display: flex;
    margin: 20px;
    padding: 0;
    width: 100%;
    padding: 0;
  }

  .my-picture > img {
    width: 270px;
    height: 325px;
  }

  .aboutme-intro {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .aboutme-intro > h1 {
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .aboutme-text {
    padding: 0;
    margin: 15px;
  }
  .aboutme-text h2{
    font-size: 2.5rem;
    margin-bottom: 1em;
  }

  .aboutme-text p {
    line-height: 2.5rem;
    font-size: 1.3rem;
  }

  .column {
    padding: 20px;
  }

  #loader1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loader2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resume-grid {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .resume-holder-set-1 p, .resume-holder-set-2 p {
    font-size: 1.2em;
  }

  .resume-summary p {
    font-size: 1.2em;
  }

  .contact-container {
    margin-bottom: 100px;
  }

  .footer-container {
    margin-top: 20px;
  }
  .footer-content {
    height: auto;
    width: auto;
  }

  .footer-content p {
    text-align: center;
    width: fit-content;
  }

  .social {
    width: auto;
    height: auto;
  }
  
}

@media (min-width: 1025px) {

  body {
    display: auto;
  }

  p {
    font-size: 24px;
  }

  .logo-container {
   justify-content: flex-start;
   padding-left: 60px;
  }

  .my-picture {
    
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }

  .aboutme-content {
    width: 90%;
    margin: auto;
  }
 
  .aboutme-text {
    display: flex;
    flex-direction: column;
  }

  .aboutme-name {
    padding: 0;
    margin: 0;
    font-size: 3rem;

  }

  .aboutme-intro h1 {
    font-size: 3rem;
  }

  .column > h2 {
    font-size: 2.5rem;
  }

  .column > p {
    font-size: 24px;
    line-height: 2rem;
    
  }

  .resume-grid {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
  }

}