* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    min-height: 100vh;
    background-color: #373e40;
}



/*
==========================================================
        Top Nav
==========================================================
*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #305252;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    width: 4 0%;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}

.burger {
    display: none;
}

.burger > div {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 5px;

}




/*
===============================================================
    .Intro
===============================================================
*/

.intro-container {
    display: flex;
    background-color: black;
}

.intro-inner {
    background-color: red;
}

/*
===============================================================
    About-Me-Section
===============================================================
*/
.aboutme-main {
    padding: 60px;
    border: 0;
}
.aboutme-content {
    display: flex;
    justify-content: space-evenly;
}

.my-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.my-picture img {
    height: 400px;
    width: 300px;
    border: 1px solid #488286;
    border-radius: 30px;
    box-shadow: 2px 5px 15px 8px #488286;
}

/* Container for multi flex boxs*/
.aboutme-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    min-width: none;
    padding: 1rem;
    margin: 1rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #488286, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}

/* Created 4 equal columns*/
.column {
    flex: 25%;
    padding: 25px;
}

.aboutme-text h2 {
    font-size: 3rem;
}

.aboutme-text p {
    font-size: 1.3rem;
    line-height: 1.3;
}
/* Loader-element */

.loader {
    width: 50px; /* control the size */
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 22deg, #0003,#000);
            mask: conic-gradient(from 22deg, #0003,#000);
    animation: load 1s steps(8) infinite;
  }
  .loader,
  .loader:before {
    --_g: linear-gradient(#17177c 0 0) 50%; /* update the color here */
    background: 
      var(--_g)/34% 8%  space no-repeat,
      var(--_g)/8%  34% no-repeat space;
  }
  .loader:before {
    content: "";
    transform: rotate(45deg);
  }
  @keyframes load {
    from {transform: rotate(0turn)}
    to   {transform: rotate(1turn)}
  }
/*
==========================================================================
Contact Form
==========================================================================
*/

.contact-section {
    background: #373e40;
    margin: 0;
    border: 0;
    padding: 10px;
}

.contact-section h1 {
    text-align: center;
    color: #ddd;
}

.contact-section p {
    text-align: center;
    color: #ddd;
    text-size-adjust: 2rem;
}

.contact-border {
    width: 300px;
    height: 5px;
    background-color: white;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: #305252;
    padding: 20px 40px;
    outline: none;
    color: #b7d5d4;
    transition: 0.5s;
}

/* Create focus effect */

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px rgb(162, 160, 160);
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #305252;
    color: rgba(148, 133, 133, 0.904);
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: rgba(16, 17, 17, 0.384);
}

/*
=================================================
        Footer
=================================================
*/

.footer-container {
    background: #305252;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.footer-content {
    font-size: 15px;
    color: #b7d5d4;
    width: 100%;
    text-align: center;
}


  /* ================================= 
    Media Queries
  ==================================== */
  
  
  
  
  @media (min-width: 769px) {
    

      .nav-wrapper,
      .main-nav {
          display: flex;
      }
      }
      .aboutme-content, 
      .aboutme-text h2,
      .aboutme-text p {
        display: flex;
        flex-direction: column;
      }

<<<<<<< HEAD
      .loader {
        display: hidden;
      }
=======
      .main-nav {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 8vh;
        background-color: #504954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%
        );
      }

      .main-nav li {
        opacity: 0;
      }

      .burger {
        display: block;
>>>>>>> refs/remotes/origin/main
      }
      
  }
  
  @media (min-width: 1025px) {
      .nav-wrapper {
          flex-direction: row;
          justify-content: space-between;
      }

      .main-nav {
        width: 60%;
      }
  
  }
  